*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
  }
  
  body{
    font-family: "Open Sans", Arial, Sans-serif;
    font-size: 16px; 
    
  }
  /* header */

  nav {
    text-align: center;
    line-height: 50pt;
    height: 80px;     
    text-align: center;  
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0,.5); 
} 

nav a{    
  text-decoration: none;
  background: linear-gradient(#ff7315, #ff7315);
   background-position: 0% 100%;
   background-repeat: no-repeat;
   background-size: 0% 2px;
   transition: background-size .5s;
   padding-bottom: 10px;
   font-size: 16px; 
   letter-spacing: 2px;
   margin-left: 50px;
     color: #000; 
}
a:hover, a:focus {
  background-size: 100% 2px;
  color:#ff7315;
}


  /* section */
main{
  padding: 20px;
}
  .section{
      width: 80%;
      margin: auto;
      display: flex;
      justify-content:space-between;      
  }
  .cards{
    width:30.6% ;
    height: 400px;  
    background: #f2f2f2;
    margin-top: 20px;    
  }

.card .oferta{
  width:320px; 
  height: 200px;   
}
 .card .texto, .precio{    
   line-height: 25px;  
   padding: 10px;
  }
  .precio{
    display: flex;
    justify-content: space-between;
  }
.cards .a{   
  margin-left: 100px;
  border: 1px solid #ff7315;
  padding: 10px;
  text-decoration: none;
  color: #ff7315;
  border-radius: 20px; 
}
.cards:hover{
  box-shadow: 0 0 10px 0 #000000;
}
.cards .a:hover{
  background:#ff7315 ;
  color: #ffff;
}



  /* footer */


  footer{
    text-align: center;
   background: #212121;   
   padding: 40px;
  } 
  .footer{
    display: flex;  
    margin-bottom: 100px;
  }
  
  footer .nosotr{
    color:#d8cfcf;  
    font-family:  'Open Sans', 'Helvetica Neue' ; 
   margin: 0 0 0 50px;
  width: 40%;
  }
  .nosotr img{
    padding: 30px; 
  }
 
  footer .nosotr h3{
    color: #ff7315;
  }
  footer .ico{
    color: #dfd7d7;
    padding: 30px;
   text-align: center; 
   font-family:  'Open Sans', 'Helvetica Neue';
   width: 60%;
  }
  footer .ico h3{
   margin-bottom: 50px;
   color: #ff7315;
  }
  
  footer .nosotr p{
    text-align: justify;
  }

  footer .Copyright{
    color:#ccc ;
    font-size:12px ;
   
  }
footer .ico .p{
  color: #000000;
  padding: 20px ;
  display: flex;
  margin-left: 40px;
}
footer .ico .p img,p{
  margin-left: 20px;
}
  
  .ico .facebook{ background: #0277c5;padding: 10px;width: 40px; }
  .ico .twitter{ background: #2abee7; padding: 10px;width: 40px;}
  .ico .instagram{ background: #e92c9a; padding: 10px;width: 40px;}
  .ico .youtube{  background: #f10a02; padding: 10px;width: 40px;}
  .ico .facebook:hover{opacity: 0.5; }
  .ico .twitter:hover{ opacity: 0.5;}
  .ico .instagram:hover{ opacity: 0.5;}
  .ico .youtube:hover{ opacity: 0.5; }