*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
  }
  
  body{
    font-family: "Open Sans", Arial, Sans-serif;
    font-size: 16px; 
  }
  
  /* --------------header----------------- */

  header{ 
    width: 100%;
    height: 650px;
    background: linear-gradient(
    rgba(92, 27, 4, 0.8),
    rgba(126, 63, 0, 0.6),
    rgba(92, 27, 4, 0.7)), url(../Img/anuncio.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;    
  }

  
  .menu {   
    line-height: 40pt;
    height: 80px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0,.5);
    text-align: center;  
    
  } 
 
  .menu a{  
    text-decoration: none;
   background: linear-gradient(#ff7315, #ff7315);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
    padding-bottom: 10px;
    font-size: 16px; 
    letter-spacing: 2px;
    margin-left: 50px;
    color: #fff;   
  }

  a:hover{
    background-size: 100% 2px;
    color:#ff7315;
 
}


.textos h5{
    color: rgb(243, 116, 4);
  }
  h5, h1, .p1, .btn{
    text-align: center;
    margin-top: 60px;
  }
  h1{
    font-family: 'Times New Roman', Times, serif;  
    font-size: 80px;
    color: #fff;
  }
  .p1{
    color: #f0e6e6;
    word-spacing: 5pt;
    line-height: 15pt;
    letter-spacing: 1pt;
    
  }
  .p1 .b{
    font-size: 20px;
    color: #f77727;
  }
  .btn a{
    text-decoration: none;
    color: #fff;   
    border: 2px solid #fff;    
    padding: 15px;
    
  }
  .btn a:hover{ 
    color: rgb(221, 108, 2);
    border: 2px solid rgb(221, 108, 2); 
  }
  .btn2{
     padding: 30px; 
   
  }
  .btn2 a{
    text-decoration: none;
    color: #f0a500;   
    border: 1px solid #f0a500;    
    padding: 10px;
    border-radius: 5px;
  }
  .btn2 a:hover{
    background: #ff7315;
    color: #fff;
  }
  .redes{
    margin-top: 100px;
    margin-left: 60px;
  }
  .redes img{
    margin-left: 30px;    
  }

 
  
  /* ---------------section--------------------- */
  
   section{
    width: 100%;
     margin: auto;
    
   }

.cards{

  width: 90%;
  margin: auto;
  display:flex ;
  justify-content: space-between;
  color: #ffff;
}
.img1,.img2, .img3, .img4, .img5, .img6{  
  width: 30%;
 height: 400px;
 margin: 40px 0; 
}
.img1{background: linear-gradient(
  rgba(1, 100, 84, 0.435),
  rgba(1, 100, 84, 0.435),
  rgba(1, 100, 84, 0.435)), url(../Img/lomosaltado.jpg);background-size: cover;
}
.img2{background: linear-gradient(
  rgba(41, 16, 4, 0.545),
  rgba(41, 16, 4, 0.545),
  rgba(41, 16, 4, 0.545)), url(../Img/postrerias.jpeg);background-size: cover;}
.img3{background: linear-gradient(
  rgba(241, 241, 16, 0.4),
  rgba(241, 241, 16, 0.4),
  rgba(241, 241, 16, 0.4)), url(../Img/fondoP.jpg);background-size: cover;}
.img4{background: linear-gradient(
  rgba(230, 89, 218, 0.3),
  rgba(230, 89, 218, 0.3),
  rgba(230, 89, 218, 0.3)
  ),url(../Img/restaurante.jpg);background-size: cover;}
.img5{background: linear-gradient(
  rgba(57, 60, 241, 0.3),
  rgba(57, 60, 241, 0.3),
  rgba(57, 60, 241, 0.3)),url(../Img/pasteles.jpg);background-size: cover;}
.img6{background:linear-gradient(
  rgba(248, 71, 7, 0.3),
  rgba(248, 71, 7, 0.3),
  rgba(248, 71, 7, 0.3)), url(../Img/fastfodd.jpg);background-size: cover;}

.img1:hover{background:linear-gradient(
  rgba(41, 16, 4, 0.545),
  rgba(41, 16, 4, 0.545),
  rgba(41, 16, 4, 0.545)),url(../Img/lomosaltado.jpg);background-size: cover;}
.img2:hover{background: linear-gradient(
  rgba(1, 100, 84, 0.435),
  rgba(1, 100, 84, 0.435),
  rgba(1, 100, 84, 0.435)), url(../Img/postrerias.jpeg);background-size: cover;}
.img3:hover{background:linear-gradient(
  rgba(230, 89, 218, 0.3),
  rgba(230, 89, 218, 0.3),
  rgba(230, 89, 218, 0.3)
  ), url(../Img/fondoP.jpg);background-size: cover;}
.img4:hover{background:linear-gradient(
  rgba(41, 16, 4, 0.545),
  rgba(41, 16, 4, 0.545),
  rgba(41, 16, 4, 0.545)),url(../Img/restaurante.jpg);background-size: cover;}
.img5:hover{background:linear-gradient(
  rgba(1, 100, 84, 0.435),
  rgba(1, 100, 84, 0.435),
  rgba(1, 100, 84, 0.435)),url(../Img/pasteles.jpg);background-size: cover;}
.img6:hover{background: linear-gradient(
  rgba(230, 89, 218, 0.3),
  rgba(230, 89, 218, 0.3),
  rgba(230, 89, 218, 0.3)
  ),url(../Img/fastfodd.jpg);background-size: cover;}
  

.tex{
  padding: 30px;
  text-align: center;
  margin-top: 50px;
  line-height: 30px;
  
}
.tex img{
  width: 70px;
  height: 90px;
}

.tex a .indicador{
  width: 40px;
  height: 40px;
  background: rgba(253, 252, 251, 0.6);
  border-radius: 100%;
  padding: 10px;
}
.tex a .indicador:hover{
  background: #09f4b5;
}


.nosotros{
    background: url(../Img/publicidad1.png)no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
  
}
  .fondo2{
      background: rgba(0, 0, 0, 0.8);     
     height: 600px; 
     text-align: center;
     line-height: 25px;
     color: #ff7315;   
    font-size: 30px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.fondo2 .p{   
width: 50%;
color: #fff;  
text-align: justify;
margin: auto ;
font-size: 16px;
margin-top: 40px;
}

 
  .contenedor2 {
    text-align: center;
    display: flex;     
    justify-content: space-around;
    margin-bottom:40px;
  }
  
  .contenedor2 .contenido2{
    margin: 20px;
  }




  /* footer */


  footer{
    text-align: center;
   background: #212121;   
   padding: 10px;
  } 
  .footer{
    display: flex;  
    margin-bottom: 100px;
  }
  
  footer .nosotr{
    color:#d8cfcf;  
    font-family:  'Open Sans', 'Helvetica Neue' ; 
   margin: 0 0 0 50px;
  width: 40%;
  }
  .nosotr img{
    padding: 30px; 
  }
 
  footer .nosotr h3{
    color: #ff7315;
  }
  footer .ico{
    color: #dfd7d7;
    padding: 30px;
   text-align: center; 
   font-family:  'Open Sans', 'Helvetica Neue';
   width: 60%;
  }
  footer .ico h3{
   margin-bottom: 50px;
   color: #ff7315;
  }
  
  footer .nosotr p{
    text-align: justify;
  }

  footer .Copyright{
    color:#ccc ;
    font-size:12px ;
   
  }
footer .ico .p{
  color: #fff;
  padding: 20px ;
  display: flex;
  margin-left: 40px;
}
footer .ico .p img,p{
  margin-left: 20px;
}
  
  .ico .facebook{ background: #0277c5;padding: 10px;width: 40px; }
  .ico .twitter{ background: #2abee7; padding: 10px;width: 40px;}
  .ico .instagram{ background: #e92c9a; padding: 10px;width: 40px;}
  .ico .youtube{  background: #f10a02; padding: 10px;width: 40px;}
  .ico .facebook:hover{opacity: 0.5; }
  .ico .twitter:hover{ opacity: 0.5;}
  .ico .instagram:hover{ opacity: 0.5;}
  .ico .youtube:hover{ opacity: 0.5; }


  
@media(max-width:1000px){
    .menu a{
      text-align: center;
      font-size: 14px;
      margin-left: 20px;
    }
    .img1,.img2, .img3, .img4, .img5, .img6{  
      width: 40%;
     height: 350px;
         margin-left: 20px;
    }
    .tex{
      padding: 10px 0;
      text-align: center;      
      line-height: 20px;
      font-size: 15px;
    }
    .fondo2{
      background: rgba(0, 0, 0, 0.8);     
     height: 600px; 
     text-align: center;
     line-height: 25px;
     color: #ff7315;   
    font-size: 20px;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

 
  


}
@media(max-width: 800px){
  .menu a{    
    font-size: 12px;  
    margin-left: 10px;
  }
  .img1,.img2, .img3, .img4, .img5, .img6{     
   height: 350px;
  margin-left: 20px;
  
  }
  .tex{
    padding: 10px 0;
    text-align: center;      
    line-height: 20px;
    font-size: 12px;
  }
  .textos h5, a{
    font-size:12px ;
    
  }
}

